
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EDDCD9;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    position: relative; /* Pour positionner l'image par rapport à ce conteneur */
}


.title {
    color: #264143;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
}

.sub_title {
    font-weight: 600;
    margin: 5px 0;
}

.form_group {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Diviser en deux colonnes égales */
    grid-column-gap: 20px; /* Espacement entre les colonnes */
    margin: 10px;
}

.form_style {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
}

.form_style:focus, .btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #E99F4C;
}

.btn {
    padding: 15px;
    margin: 25px 0px;
    width: 290px;
    font-size: 15px;
    background: #bd2f8e;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #E99F4C;
}

.btn:hover {
    opacity: .9;
}

.link {
    font-weight: 800;
    color: #264143;
    padding: 5px;
}

/* Style de l'image */
.form_image {
    position: absolute; /* Position absolue pour positionner l'image */
    /* Décalage à gauche */
    left: 20px;
    top: 20px; /* Décalage en haut */
    width: 200px; /* Largeur de l'image */
    height: 200px; /* Hauteur de l'image */
    border-radius: 50%; /* Forme circulaire */
}

.form_image_right {
    position: absolute;
    right: 20px; /* Décalage à droite */
    bottom: 20px; /* Décalage vers le bas */
    width: 150px;
    height: 150px;
    border-radius: 50%;
}