
    <style>
        .bg-image {
            background-image: url('https://img.freepik.com/photos-gratuite/mur-beton-fleurs_1360-516.jpg?size=626&ext=jpg&ga=GA1.1.1141335507.1707609600&semt=ais'); /* Remplacez par le lien de votre image */
            background-size: cover; /* Pour que l'image couvre tout l'élément */
            background-repeat: no-repeat; /* Empêcher la répétition de l'image */
            background-position: center; /* Centre l'image de fond */
        }

      .testimonial-card .avatar img {
          height: 200px; /* Définir la hauteur des images */
          object-fit: cover; /* Pour que les images soient redimensionnées tout en préservant leur ratio d'aspect */
      }
      .h1 {
    font-family: 'Lora', serif; /* Police élégante */
    text-transform: uppercase; /* Majuscules */
    letter-spacing: 1.5px; /* Espacement entre les lettres */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); /* Ombre douce */
    color: #2c3e50; /* Couleur sombre */
}
.h3 {
    font-family: 'Roboto', sans-serif; /* Police moderne */
    font-weight: 400; /* Police normale */
    letter-spacing: 1px; /* Espacement entre les lettres */
    color: #95a5a6; /* Gris clair pour contraste */
    text-transform: uppercase; /* Majuscules */
    
}

.form_image {
    position: absolute; /* Position absolue pour positionner l'image */
    left: 5%; /* Ajustez la position horizontale selon vos besoins */
    top: 8%; /* Ajustez la position verticale selon vos besoins */
    width: 30%; /* Largeur de l'image en pourcentage */
    height: auto; /* Hauteur automatique pour maintenir le rapport hauteur-largeur */
    max-width: 100px; /* Largeur maximale de l'image */
    border-radius: 50%; /* Forme circulaire */
}
  </style>
  
  <div class="bg-success p-2 bg-opacity-50 bg-image ">
    <img src="https://www.evenementielpourtous.com/images/photo/mini/76813_1_mini_123497.jpg" alt="Image" class="form_image">
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid bg-image " >
        <h3 class= "navbar-brand" >Accueil</h3>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCXJfSE6tyOlypBsmILAZu8XrQ6NCyMUzktUFk94krZw&s"
                      class="rounded-circle"
                      height="22"
                      alt=""
                      loading="lazy"
                    />À propos de mon mariage
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a [routerLink]="'/mariage'">
                               <div class="dropdown-item">consulte divers informations</div>
                            </a>
                        </li>
                        
                        
                        
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCXJfSE6tyOlypBsmILAZu8XrQ6NCyMUzktUFk94krZw&s"
                      class="rounded-circle"
                      height="22"
                      alt=""
                      loading="lazy"
                    />Prestataires
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="test.html">Lieux de mariage</a>
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLink]="'/consulter'">Fleuristes / Décoration  </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="test.html">photographes</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="test.html">musique/animation</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="test.html">traiteur</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="test.html">beautés / habillements</a>
                        </li>
                        
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</nav>

<!-- Testimonials Section -->
<section>
    
    <div class="row d-flex justify-content-center bg-image">
        
        <div class="col-md-10 col-xl-8 text-center">
            
            
            <h3 class=" h1 h3">Bienvenue chez 'Dis-Moi Oui' !</h3>
            
            <p class="mb-4 pb-2 mb-md-5 pb-md-0">
              "Bonjour et bienvenue chez 'Dis-Moi Oui' ! Nous sommes ravis que vous ayez choisi de partager votre histoire avec nous. Laissez-nous vous accompagner dans ce voyage magique vers le grand jour où vous direz 'Oui' à l'amour de votre vie. Commençons à faire de vos rêves une réalité!"
            </p>
        </div>
    </div>

    <div class="row text-center bg-image">
        <div class="col-md-4 mb-5 mb-md-0">
            <div class="card testimonial-card bg-image">
                <div class="card-up" style="background-color: #dcbed8;"></div>
                <div class="avatar mx-auto bg-white">
                    <img src="https://www.mariee.fr/wp-content/uploads/2013/06/DSC04892.jpg"
                        class="testimonial-card avatar imgimg-fluid"/>
                </div>
                <div class="card-body bg-image">
                    <h4 class="mb-4 h3">POURQUOI ON CRÉER CE SITE</h4>
                    <hr />
                    <p class="dark-grey-text mt-4">
                        <i class="fas fa-quote-left pe-2"></i>
                    </p>
                    <ul>
                        <li>  La montée des coûts liés à l'organisation d'un mariage est devenue une source d'inquiétude majeure pour de nombreux couples. Les frais élevés associés aux salles de réception et aux diverses dépenses nuptiales suscitent une anxiété croissante chez les futurs mariés. De plus, la planification d'un tel événement demande un effort considérable, car il est souvent difficile de trouver des options qui correspondent à un budget préétabli tout en jonglant avec les multiples détails à prendre en compte.

                            Face à ce défi, il est essentiel de trouver des solutions qui simplifient la planification du mariage tout en respectant un budget défini. Une approche efficace consiste à centraliser la recherche et la coordination des différents éléments de la cérémonie, facilitant ainsi la prise de décision et garantissant une gestion financière optimale.</li>
                        
                    </ul>
    
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
            <div class="card testimonial-card bg-image">
                <div class="card-up" style="background-color: #dcbed8;"></div>
                <div class="avatar mx-auto bg-white">
                    <img src="https://cache.marieclaire.fr/data/photo/w1200_h630_c17/6i/diy-deco-de-table-mariage.jpg"
                        class="testimonial-card avatar imgimg-fluid"/>
                </div>
                <div class="card-body bg-image">
                    <h4 class="mb-4 h3">Nos Services</h4>
                    <hr />
                    <p class="dark-grey-text mt-4">
                        <i class="fas fa-quote-left pe-2"></i>
                    </p>
                    <ul>
                        <li>Recherche de lieux de mariage : Découvrez une sélection variée d'emplacements adaptés à votre budget et vos préférences.</li>
                        <li>Sélection de prestataires : Trouvez des prestataires fiables tels que des fleuristes, des traiteurs et des photographes pour répondre à vos besoins.</li>
                        <li>Outils de planification : Utilisez nos ressources pour organiser votre mariage étape par étape, y compris des listes de tâches et des calendriers.</li>
                        <li>Gestion du budget : Suivez vos dépenses et restez dans les limites de votre budget grâce à nos outils de gestion financière intégrés.</li>
                    </ul>
    
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-0 ">
            
              
            <div class="card testimonial-card bg-image">
                <div class="card-up" style="background-color: #dcbed8;"></div>
                <div class="avatar mx-auto bg-white">
                    <img src="https://resize.elle.fr/article/var/plain_site/storage/images/mariage/mariage-de-a-a-z/news-mariage/mariages-2022-s-annonce-deja-comme-une-annee-record-3987459/96049478-1-fre-FR/Mariages-2022-s-annonce-deja-comme-une-annee-record.jpg"
                        class="testimonial-card avatar imgimg-fluid"/>
                </div>
                <div class="card-body bg-image">
                    <h4 class="mb-4 h3">NOS CONSEILS POUR LES FUTURS MARIES</h4>
                    
                    <p class="dark-grey-text mt-4">
                        <i class="fas fa-quote-left pe-2"></i>
                    </p>
                    <ul>
                        <li >Lorsque vous planifiez votre mariage, utilisez nos outils en ligne pour vous organiser efficacement. Nos listes de tâches, calendriers et budgets vous aideront à rester sur la bonne voie.</li>
                          <li >Explorez un large éventail d'options pour votre lieu de mariage et vos prestataires. Nous avons sélectionné des partenaires de qualité que vous pouvez découvrir sur notre site et qui correspondent à vos besoins spécifiques.</li>
                          <li >Gérez votre budget avec succès en établissant un plan financier réaliste. Nous vous guiderons pour répartir vos dépenses de manière équilibrée afin d'obtenir le mariage de vos rêves sans dépasser votre budget.</li>
                          <li >Restez informé et organisé tout au long du processus. Notre site vous fournira des conseils réguliers, des tendances actuelles et des mises à jour importantes pour que vous soyez toujours au courant des dernières nouveautés.</li>
                          <li >N'oubliez pas de prendre soin de vous pendant cette période stressante. Accordez-vous du temps pour vous détendre, faire de l'exercice et profiter de moments de qualité avec vos proches pour recharger vos batteries.</li>
                    </ul>
    
                </div>
            </div>
        </div>
    </div>
   </section>
