
<h1>hello Admin </h1>
<body>
<div class="container mt-5">
    <div class="jumbotron text-center">
      <h2 class="lead">Tu as l'accès pour gérer la BD - Choisir un prestataire :</h2>
    </div>
  
    <div class="row">
      <div class="col-md-4">
        <a [routerLink]="'/GereFleuriste'" class="card mb-4">
          <img src="https://cdn0.mariages.net/vendor/5003/3_2/960/jpg/juno-photographie-photographe-de-mariage-caen-calvados-normandie-rouen-le-havre-evreux-wedding-photographer-france-french-122_3_15003.webp" class="card-img-top" alt="Fleuriste">
          <div class="card-body">
            <h5 class="card-title">Fleuriste</h5>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="" class="card mb-4">
          <img src="https://cdn0.mariages.net/vendor/7530/3_2/960/jpg/1t3a0230_3_147530-1563198123.webp" class="card-img-top" alt="Photographe">
          <div class="card-body">
            <h5 class="card-title">Photographe</h5>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="" class="card mb-4">
          <img src="https://cdn0.mariages.net/vendor/3714/3_2/960/jpeg/ef332b3d-ff05-42d7-be3f-869c86c7fefb_3_153714-170775383822105.webp" class="card-img-top" alt="Lieu de mariage">
          <div class="card-body">
            <h5 class="card-title">Lieu de mariage</h5>
          </div>
        </a>
      
    </div>
</div>
  
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
